html,
body {
    background-color: white;
    /* overflow-x: hidden; */
    /* overflow-y: scroll;  */
    height: 100%;
}
#root {
    min-height: 100%;
    width: 100%;
    background-color: #EEF1F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainDiv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm {
    width: 550px;
    align-self: center;
    /* height: 550px; */
    /* background: #FFFFFF;
    box-shadow: -11px 0px 11px rgba(0, 0, 0, 0.25), 11px 0px 11px rgba(0, 0, 0, 0.25), 0px 11px 11px rgba(0, 0, 0, 0.25), 0px -11px 11px rgba(0, 0, 0, 0.25);
    border-radius: 20px; */
    /* margin: auto; */
    /* margin-top: calc(50%); */
    /* transform: translateY(calc(50% - 100px)); */
}

.authHeader {
    width: 100%;
    background: #C4C4C4;
    height: 65px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 29pt;
    line-height: 45px;
    display: block;
    align-items: center;
    text-align: center;
    color: #29323C;
}

.authHeader span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.MuiTextField-root {
    width: 70%;
}
.formGroup {
    display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
  width: 100%;
}

.loginGroup {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.formGroup .MuiTextField-root {
    width: 300px;
    height: 50px;
    margin-top: 20px;
}

.formGroup .MuiButton-root {
    margin-top: 50px;
    margin-bottom: 60px;
    width: 300px;
    height: 50px;
    font-size: 14pt;
}

.formGroup .MuiInputBase-input, .formGroup .MuiInputLabel-outlined, .formGroup .MuiFormControlLabel-label {
    font-size: 11pt;
}

.formGroup .MuiLink-root {
    padding-right: 40px;
}

.login-button-another-action {
    max-width: 180px;
    max-height: 90px;
    padding-right: 40px;
    margin: 0 !important;
    font-size: 10pt !important;
}