.react-contextmenu--visible {
    background: #fff;
    width: 350px;
    height: 200px;
    border: 0.9px solid #000000;
    line-height: 30px;
    flex-direction: row;
    font-size: 20px;
}

.head-text {
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 11px;
    text-align: center;
    color: #000;
    background: fff;
}
.head-text1 {
    margin-bottom: 0px;
    padding: 10px;
    padding-right: 11px;
    text-align: center;
    color: #000;
    background: fff;
}

.body-textL {
    margin-left: 20px;
    float: left;
}

.body-textR {
    margin-right: 20px;
    float: right;
}
.body-buttonR {
    margin-right: 15px;
    margin-top: 0px;
    float: right;
}
.body-buttonL {
 
    margin-left: 15px;
    margin-top: 0px;
    float: left;
}
.react-contextmenu--visible .MuiButton-root {
    width: 120px;
}

.dropC{
    margin-left: 30%;
    margin-top: -10px;
  }
  .body-textL {
    margin-left: 20px;
    float: left;
}

.body-textR {
    margin-right: 20px;
    float: right;
}
.body-buttonR {
    margin-right: 15px;
    margin-top: 0px;
    float: right;
}
.body-buttonL {
 
    margin-left: 15px;
    margin-top: 0px;
    float: left;
}
.card-cil{
    font-size: 17px;
    min-width: 550px;
    height: 280px;
    line-height: 15px;
}
.body-textL2 {
    display: flex; /* or inline-flex */
    flex-direction: column;
}
.cardN{
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.body-textR2 {
    margin-right: 90px;
    margin-top: 0px;
    text-align: left;
    float: right;
}
.body-buttonR2 {
    margin-right: 15px;
    margin-top:0px;
    float: right;
}
.body-buttonL2 {
    margin-top: 15px;
}
.hope{
    margin-top: 95px;
}
.Video{
    width: 100%;
    height: 100%;
    display: block;
  }